.navbar{
    display: flex;  
    justify-content: space-between;
    margin-top: 30px;
}
.nav_section{
    background-color: #232536;
}
.sitenav_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 83px;
}

.sitenav_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.sitenav_link{
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}
.sitenav_btn{
    font-weight: 700;
    line-height: 24px;
    padding: 16px 48px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: sans-serif;
}
